.FilterButton {
  display: flex;
  padding: 0.9em;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  margin: 1em 0 1em 0;
  width: 100%;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
.FilterButton:hover {
  background-color: rgb(129, 129, 129);
}
.FilterButton:first-child {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  border: solid 1px black;
  border-right: none;
}
.FilterButton:last-child {
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border: solid 1px black;
  border-left: none;
}
